* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.login_page {
    padding: 24px;
    width: 100vw;
    height: 90%;
    background-color: #0e0e0e;
    color: #e0e0e0;
    box-sizing: border-box;
}

.big_main_title {
    text-transform: uppercase;
    margin: 0;
    display: flex;
    gap: 12px;
    color: #dadada;
    align-items: center;
}

h1 {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bolder;
    margin: 0;
}

.login_title {
    width: 100%;
    text-align: center;
    color: #dadada;
    font-size: 27px;
    margin: 0;
}

.login_box {
    background-color: #0d0d0d;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 48px;
    border-radius: 16px;
    border: #404040 solid 1px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.login_labelandinput {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.login_label {
    color: #9f9f9f;
    font-size: 18px;
}

.login_input {
    border: #404040 solid 1px;
    border-radius: 6px;
    background-color: #1a1a1a;
    color: #9f9f9f;
    padding: 12px;
    font-size: 18px;
    width: 420px;
}

.login_paragraph {
    color: #9f9f9f;
    font-size: 18px;
    padding: 0;
    width: 100%;
    text-align: center;
}

.login_titleparagraph {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}

.login_a_signup {
    color: #dadada;
    text-decoration: none;
    padding-left: 6px;
}

.login_a_signup:hover {
    text-decoration: underline;
}

.login_button {
    border: #363284 solid 1px;
    border-radius: 6px;
    background-color: #0b1a32;
    color: #979dbb;
    padding: 12px;
    font-size: 18px;
}

.login_button:disabled {
    color: #979dbb6f;
}

.green_login_button {
    border: #004f3e solid 1px;
    border-radius: 6px;
    background-color: #00210f;
    color: #82a89f;
    padding: 12px;
    font-size: 18px;
}

.green_login_button:disabled {
    color: #82a89f6f;
}

.login_failed_p {
    color: #c95a64;
}

.spinner {
    width: 11px;
    height: 11px;
    border: 3px solid transparent;
    border-top: 3px solid #979dbb;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    display: inline-block;
}

.green_spinner {
    width: 11px;
    height: 11px;
    border: 3px solid transparent;
    border-top: 3px solid #82a89f;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    display: inline-block;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.big_main_icon {
    width: 40px;
    height: 40px;
}

.big_main_h1 {
    font-size: 16px;
}

.big_main_dual {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.big_main_subtitle {
    font-size: 14px;
    opacity: 0.5;
    margin: 0;
}

.login_input:focus {
    border-color: #9f9f9f;
    outline: none;
}

.creation_box {
    background-color: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 48px;
    border-radius: 16px;
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.creation_input {
    border: #404040 solid 1px;
    border-radius: 6px;
    background-color: #1a1a1a;
    color: #9f9f9f;
    padding: 12px;
    font-size: 18px;
}

.creation_pw_input {
    border: #404040 solid 1px;
    border-radius: 6px;
    background-color: #1a1a1a;
    color: #9f9f9f;
    padding: 0px;
    font-size: 18px;

    display: flex;
    align-items: center;
}

.inner_pw_input {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #9f9f9f;
    padding: 12px;
    font-size: 18px;
}

.dice_btn {
    background-color: transparent;
    color: #9f9f9f;
    border: none;
    height: 100%;
    aspect-ratio: 1;
    margin-right: 8px;
}

.dice_svg {
    width: 20px;
    height: 20px;
}

.dice_svg path {
    width: 20px;
    height: 20px;
    fill: #dadada;
}

.strong_label {
    color: #dadada;
    font-size: 18px;
}

@media (max-width: 1000px) {
    .creation_box {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .creation_box {
        width: 33%;
    }
}

.cancel_button {
    border: #2f2f2f solid 1px;
    border-radius: 6px;
    background-color: #0f0f0f;
    color: #7e7e7e;
    padding: 12px;
    font-size: 18px;
    opacity: 1;
    /* transition: opacity 0.3s ease; */
}

.cancel_button:disabled {
    opacity: 0.5;
}

.admincheck_box {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
}


/* Source: https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.admin_switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 21px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1a1a1a;
    border: #404040 solid 1px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: #9f9f9f;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #21180d;
    border-color: #733b13;
}

input:checked+.slider:before {
    background-color: #ca7c48;
}


input:focus+.slider {
    /* box-shadow: 0 0 1px #b197fc; */
}

input:checked+.slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 4px;
}

.slider.round:before {
    border-radius: 2px;
}

/* ***** */
.wrapper {
    position: relative;
    display: inline-block;
}

/* Tooltip box */
.tooltip {
    position: absolute;
    bottom: calc(100% + 10px);
    /* space above div */
    left: 50%;
    transform: translateX(-50%);

    border: #2f2f2f solid 1px;
    background-color: #000;
    color: white;
    padding: 12px;
    border-radius: 8px;
    width: 200px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    z-index: 100;

    margin-bottom: 8px;
}

.tooltip-arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 0;

    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000;
}

.tooltip-arrow-outline {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 0;

    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #2f2f2f;
}

input[type="range"] {
    margin: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #404040;
    height: 2px;
    border-radius: 100%;
    border: none;
}

input[type="range"]::-moz-range-track {
    background: #404040;
    height: 2px;
    border-radius: 0.5rem;
    border: none;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type="range"]:focus {
    outline: none;
}

.pw_range_box {
    display: flex;
    gap: 8px;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
}

input[type="range"]::-webkit-slider-thumb {
    border: none;
    background-color: #a9a9a9;
    height: 16px;
    width: 4px;
    border: none;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    background-color: #a9a9a9;
    height: 16px;
    width: 4px;
    border: none;
}

.pw_title {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #9f9f9f;
}

.pw_gen_btn {
    background-color: #0e0e0e;
    color: #9f9f9f;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 4px;
}

.pw_value {
    color: #dadada;
    font-size: 12px;
    margin-right: 8px;
}

.creation_input:focus {
    border-color: #9f9f9f;
    outline: none;
}

.creation_pw_input:focus-within {
    border-color: #9f9f9f;
    outline: none;
}

.inner_pw_input:focus {
    border-color: #9f9f9f;
    outline: none;
}

.gen_button {
    border: #363284 solid 1px;
    border-radius: 6px;
    background-color: #0b1a32;
    color: #979dbb;
    padding: 8px;
    font-size: 18px;
}

.gen_button:disabled {
    color: #979dbb2c;
}

.creation_title {
    width: 100%;
    text-align: center;
    /* text-transform: uppercase; */
    color: #dadada;
    font-size: 24px;
    margin: 0;
}

.login_note_p {
    font-size: 18px;
    height: 18px;
    width: 100%;
    text-align: center;
    margin: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
}

.fade_out {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}

.login_success_p {
    color: #60ba75;
}

.red_login_button {
    border: #73133d solid 1px;
    border-radius: 6px;
    background-color: #2d0e19;
    color: #b7949e;
    padding: 12px;
    font-size: 18px;
    overflow: visible;
}

.red_login_button:disabled {
    color: #b7949e6f;
}

.red_spinner {
    width: 11px;
    height: 11px;
    border: 3px solid transparent;
    border-top: 3px solid #b7949e;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    display: inline-block;
}

.confirm_popup {
    position: fixed;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    background-color: #0d0d0d;
    border: #404040 solid 1px;
    border-radius: 16px;
    padding: 16px;
    gap: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.899);
}

.confirm_popup_overall {
    position: fixed;
    width: 100%;
    height: 100%;
}

.nevermind_button {
    color: #7e7e7e;
    padding: 4px;
    font-size: 18px;
    opacity: 1;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    align-self: center;
}

.nevermind_button:hover {
    background-color: #ffffff15;
}

.trembling {
    animation: shake 0.2s infinite;
}


@keyframes shake {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(0.5px, -0.5px);
    }

    100% {
        transform: translate(-0.5px, 0.5px);
    }
}

p {
    margin: 0;
}

.uicon {}

.big_uicon {
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
    border-radius: 50%;
}

.small_uicon {
    /* height: 100%; */
    aspect-ratio: 1;
    border-radius: 8px;
}

.user_uicon {
    border: #2f2f2f solid 1px;
    background-color: #0f0f0f;
}

.admin_uicon {
    background-color: #21180d;
    border: #733b13 1px solid;
}

.user_box {
    padding: 16px 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.uicon_svg {
    stroke-width: 0.1;
    margin: 64px;
}

.user_uicon svg {
    fill: none;
    stroke: #999999;
}

.admin_uicon svg {
    stroke: #ca7c48;
    fill: none;
}

.strong_label {
    color: #dadada;
    font-size: 20px;
}

.weak_label {
    color: #7c7c7c;
    font-size: 16px;
}

.dual_popup_del {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.utype {
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
    text-transform: uppercase;
}

.user_utype {
    border: #999999 solid 1px;
    color: #999999;
    background-color: #0f0f0f;
}

.admin_utype {
    border: #ca7c48 solid 1px;
    color: #ca7c48;
    background-color: #21180d;
}

.home_div {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.top_bar {
    display: flex;
    background-color: #0e0e0e;
    width: 100%;
    height: 10vh;
    /* padding: 0px 15px; */
    box-sizing: border-box;
    justify-content: space-between;
    padding: 16px;
}

._page {
    padding: 24px;
    width: 100%;
    height: 90vh;
    background-color: #0e0e0e;
    color: #e0e0e0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_box {
    display: flex;
    gap: 64px;
    align-items: center;
}

.nav {
    color: #cecece;
    font-size: 18px;
    margin: 0;
    cursor: pointer;
    user-select: none;
}

.selected_nav {
    /* text-decoration: underline; */
    opacity: 1;
}

.unselected_nav {
    opacity: 0.5;
}

.user_dropmenu {
    /* border: #2f2f2f solid 1px; */
    /* background-color: #0f0f0f; */
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    /* padding: 8px; */
    height: 30px;
    margin: 16px 16px;
}

.user_dropmenu .uicon {
    height: 100%;

    svg {
        stroke-width: 1.5;
    }
}

.udm_label {
    color: #dadada;
    font-size: 20px;
}

.docu_page {
    width: 40%;
    height: 100%;
}

.documentation_title {
    width: 100%;
    text-align: left;
    color: #dadada;
    font-size: 27px;
    margin: 0;
    margin-bottom: 16px;
}

.documentation_title2 {
    width: 100%;
    text-align: left;
    color: #dadada;
    font-size: 23px;
    margin: 0;
}

.documentation_subtitle {
    width: 100%;
    text-align: left;
    color: #dadada;
    font-size: 20px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    font-weight: normal;
}

.method_box {
    border: #363284 solid 1px;
    background-color: #0b1a32;
    color: #979dbb;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 8px;
    padding: 4px 8px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.documentation_paragraph {
    color: #9f9f9f;
    font-size: 16px;
    padding: 0;
    width: 100%;
    text-align: justify;
}

.curl_box {
    margin: 8px 0px;
    background-color: #161616;
    padding: 16px;
    color: #9f9f9f;
    word-break: keep-all;
}

.route_summary {
    margin: 32px 0px;
    gap: 4px;
    display: flex;
    flex-direction: column;
}

html {
    background-color: #0e0e0e;
}

table {
    margin: 16px 0px;
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;

    color: #9f9f9f;
    background-color: transparent;

    border: none;
    border-radius: 6px;
    overflow: hidden;
}

thead {
    background-color: transparent;
    border-radius: 6px;
}

thead th {
    font-weight: 600;
    text-align: left;
    padding: 8px 0px;
    color: #ebebeb;
    border-radius: 6px;
}

tbody td {
    padding: 8px 0px;
    vertical-align: top;
    border-radius: 6px;
}

/* lignes alternées discrètes */
tbody tr:nth-child(even) {
    background-color: transparent;
}

/* hover style GitHub-like */
tbody tr:hover {}

/* enlever les bordures internes inutiles */
table th,
table td {
    border-left: none;
    border-right: none;
}

/* .spacer {
    height: 128px;
} */

.deletion_admin_dual {
    display: flex;
    gap: 4px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.deletion_admin_paragraph {
    color: #ca7c48;
    font-size: 18px;
    padding: 0;
    /* width: 100%; */
    text-align: center;
}

.admin_error_svg {
    width: 20px;
    height: 20px;
    stroke: #ca7c48;
}

.showall_error_svg {
    width: 20px;
    height: 20px;
    stroke: #979dbb6f;
    fill: transparent;
}

.github_div {
    height: 128px;
    /* margin: 128px 0px; */
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.github_svg {
    height: 20px;
    aspect-ratio: 1;
}

.search_input {
    border: #404040 solid 1px;
    border-radius: 6px;
    background-color: #1a1a1a;
    color: #9f9f9f;
    padding: 6px 12px;
    font-size: 18px;
    transition: opacity 0.3s ease, transform 0.2s ease;
}

.search_input:focus {
    border-color: #9f9f9f;
    outline: none;
}

.user_entry {
    width: 100%;
    display: flex;
    gap: 16px;
}

.dual_entry {
    color: #dadada;
    font-size: 18px;
    padding: 4px;
    gap: 8px;
    display: flex;
}

.tripial_entry {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#users_table {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 50vh;
}

.id_text {
    color: #9f9f9fab;
}

.copy_button {
    border: none;
    background: none;
}

.copy_svg {
    height: 16px;
    aspect-ratio: 1;
    fill: #dadada;
}

.copy_svg:hover {
    fill: #ffffff;
}

.green_copy_svg {
    height: 16px;
    aspect-ratio: 1;
    fill: #60ba75;
}

.extra_margin {
    margin-bottom: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    height: 40px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0e0e0e;
    border: #404040 solid 1px;
    border-radius: 8px;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
    right: 0;
    top: 100%;
    /* gap: 4px; */
}

.dropdown-content button {
    background-color: transparent;
    border: none;
    padding: 10px 12px;
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    /* padding: 10px 12px; */
    /* text-decoration: none; */
    /* display: block; */
}

.dropdown-content .option:hover {
    background-color: #ffffff14;
}

.dropdown-content .red_option:hover {
    background-color: #ff585814;
}


.dropdown:hover .dropdown-content {
    display: flex;
}

.option {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #adadad;
}

.red_option {
    color: #c95a64;
}

.red_svg {
    stroke: #c95a64;
    width: 20px;
    aspect-ratio: 1;
}

.option_svg {
    stroke: #adadad;
    width: 20px;
    aspect-ratio: 1;
}